<!--Landing or Home Page -->
<h2 class="page-header">Marvel Cinematic Universe Showcase</h2>
<!--Result display-->
<div>
  <div ng-hide="oops || result" class="panel-body">
    <h2>Searching ... </h2>
  </div>

  <ul rn-carousel rn-carousel-controls class="image">
    <li ng-repeat="movie in result">
      <div class="layer">
        {{movie.Poster}}
      </div>
    </li>
  </ul>

  <listing-landing ng-repeat="movie in result" movie="movie"></listing-landing>

  <!--error-->
  <div ng-show="oops" class="panel-body">
    <h2>{{oops}}</h2>
  </div>
</div>
