<!-- Search Movie "page" -->
<h1 class="page-header">Search Movies</h1>

<!-- Form for search, will use function record in searchCtrl.js -->
<form class="form-inline" ng-submit="record(form.title, form.year)" role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" ng-model="form.title" name="title" placeholder="Movie Title" required="">
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="year" class="form-control" ng-model="form.year" name="year" placeholder="Year">
  </div>
  <button type="submit" class="btn btn-primary">Search Database</button>
</form>

<!--Result display-->
<div class="short-listing panel">
  <div ng-show="searching" class="panel-body">
    <h2>Searching ... </h2>
  </div>

  <!--Successful listing display-->
  <ul class="list-group">
    <listing ng-repeat="movie in result.Search" movie="movie"></listing>
  </ul>

  <!--error-->
  <div ng-show="oops" class="panel-body">
    <h2>{{oops}}</h2>
  </div>
</div>
