/***** Reel Seek Style ******/
body,html{
  margin:0;
	padding:0;
	height:100%;
}
body{
  padding-bottom:50px;
  height:100%;
}
#body-content{
  height:100%px;
  margin-bottom:50px;
}
footer{
  bottom:0;
  left:0;
  position:relative;
  width:100%;
  height:50px;
  padding-top:15px;
  background: rgba(0,0,0,0.4);
}

/****** Form ***********/
form{
  margin-bottom:60px;
}

/******* Landing page blurb ******/
.blurb{
  margin:10px 0px 10px 0px;
}

/****** Movie Listing Style ******/
p.movie-subtitle{
  margin:2px 0px 2px 0px;
}
p.movie-content{
  margin:10px 0px 10px 0px;
}
