/***** Reel Seek Style ******/
body,html{
  margin:0;
	padding:0;
	height:100%;
  /** background from: subltepatterns.com **/
  background-image:url('/images/crossword/crossword.png');
  background-repeat:repeat;
  font-family: 'Vollkorn', serif;
}
body{
  padding-bottom:50px;
}
#body-content{
  height:100%px;
  margin-bottom:50px;
  background:rgba(255,255,255,1);
  padding:20px;
  margin-top:50px;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.3);
}
h1,h2,h3,h4,h5,h6{
  font-fmaily: 'Josefin Sans', sans-serif;
}
footer{
  bottom:0;
  left:0;
  position:relative;
  width:100%;
  height:60px;
  padding-top:15px;
  background: rgba(0,0,0,0.4);
}

/****** Form ***********/
form{
  margin-bottom:60px;
}

/******* Landing page blurb ******/
.blurb{
  margin:10px 0px 10px 0px;
}

/****** Movie Listing Style ******/
p.movie-subtitle{
  margin:2px 0px 2px 0px;
}
p.movie-content{
  margin:10px 0px 10px 0px;
}
